.main_window {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 20px !important;
    }
  }

  @mixin answerStyle {
    border: 3px solid #dee1ec;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    @media only screen and (max-width: 900px) {
      padding: 30px;
      margin: 0px;
    }
    h1 {
      margin: 0px;
      font-size: 25px;
    }
  }

  .question_box,
  .bet_box,
  .score_box {
    width: 100%;
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 900px) {
      height: auto;
      min-height: 0px;
      padding: 5px;
    }

    .question_wrapper {
      width: 100%;
      flex-grow: 1;
      border: 5px solid #dee1ec;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;

      .question {
        border: 3px solid #dee1ec;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
      }

      .answers_list {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50% 50%;
        flex-grow: 1;
        @media only screen and (max-width: 900px) {
          grid-template-columns: auto;
          grid-template-rows: auto auto auto auto;
          grid-row-gap: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .answer {
          @include answerStyle;
          &:hover {
            border-color: #2f89fc;
            background-color: #daeaf6;
          }

          &__bet {
            @include answerStyle;
            cursor: default;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
          }

          &__score {
            @include answerStyle;
            cursor: default;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @media only screen and (max-width: 900px) {
              padding: 30px;
              margin: 0px;
            }
            &.correct_answer {
              border-color: #107a8b;
              background-color: #78fee0;
            }
            .voted {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: center;
              align-items: flex-start;

              .bet {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2f89fc;
                border-radius: 100px;
                margin-bottom: 8px;
                color: white;
                font-size: 10px;
                font-weight: bold;
                border: 1px solid black;;
              }
            }
          }
        }
      }

      .additional_actions {
        display: flex;
        justify-content: center;
      }
    }
  }

  .user_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 30px -12px #000000;
    box-shadow: 0px 15px 30px -12px #000000;
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #d1d8dd;
    position: relative;
    .overlay_icon {
      position: absolute;
      left: -8px;
      top: -5px;
    }
  }
  > .players {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .ready_icon {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  > .info_box {
    flex-grow: 1;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.modal_results {
  width: 100%;
  display: flex;
  justify-content: center;
}
